@import "tailwindcss";
@import 'aos/dist/aos.css';


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #ededed;
  }
}
.input {
  @apply w-full border px-3 py-2 rounded-lg focus:ring-2 focus:ring-blue-500;
}

body {
  background: white;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image:"bg-[url(/img/mountains.jpg)] .." ;
}


@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.3s ease-in-out;
  }

  .animate-slide-up {
    animation: slideUp 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
